<div id="sidebar">

  <ul>
    <% if signed_in? %>
        <li><%= link_to "Profile, "+current_user.name, current_user %></li>
        <%= link_to "Выйти", signout_path, method: "delete" %>
    <% else %>
        <li><%= link_to "Войти", signin_path %></li>
    <% end %>
  </ul>




  <%= form_tag(root_url, method: "get") do %>
      <%= text_field_tag(:q) %>
  <% end %>

  <% if params[:q] %>
    <%= link_to "Сбросить поиск", root_url %>
  <% end %>
 </div>